body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cartNum{
  position: absolute;
  top: 0;
  right: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0 5px;
  border-radius: 50%;
  font-size: 17px;
  margin-top: 8px;

}
.userNum{
  position: absolute;
  top: 0;
  right: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0 5px;
  border-radius: 50%;
  font-size: 17px;
  margin-top: 8px;

}
